.todo-comments {
    display: flex;
    flex-direction: column;

    &__comment {
        background-color: hsla(var(--clr-primary), .5);
        margin-bottom: .5em;
        border-radius: .125em;
        padding: .25em;
        display: flex;
        align-items: center;
        align-self: flex-end;
    }

    &__text {
        text-align: right;
        padding: .25em;
        border: none;

        &.edit-mode {
            min-width: 200px;
            border-radius: .125em;
            border: 1px solid hsla(var(--clr-black), .5);
        }
    }

    &__edit, &__delete {
        background: none;
        border: none;
        font-size: 1.5rem;
        margin-left: .5em;
        cursor: pointer;
    }
}

